	<h3>Politechnika Poznańska</h3>
		<p>Jestem studentką 3 roku informatyki na Politechnice Poznańskiej. Studia nauczyły mnie wielu przydatnych praktyk
        oraz użytecznych narzędzi, które są potrzebne do programowania. Nauczyłam się tutaj programować w Javie i tworzyć
        do niej testy w JUnit. Poszerzyłam swoją wiedzę z C++, C oraz nauczyłam się pythona. Na swoim koncie mam również
        stworznie aplikacji w Oracle Apex, gdzie musiałam korzystać z języków PL/SQL oraz SQL. W zespole dwuosobowym
        stowrzyłam parę gier, które również można znaleźć na moim GitHubie.
    </p>
	<h3>Giganci Programowania</h3>
		<p>W firmie Giganci Programowania pracuję od lipca 2023 roku jako trener i uczę dzieci programować.  Pracowałam już z 3 grupami, gdzie
        prowadziłam kurs Stron internetowych semestr 2 oraz kurs Podstaw programowania C++. W trakcie zajęć uczyłam lub
        powtarzałam z dziecimi następujące języki programowania: HTML, CSS, JavaScript oraz C++.
		</p>
