<!--<form action="" method="post">
	<input type="text" id="fname" name="fname" placeholder="First name">
	<input type="text" id="lname" name="lname" placeholder="Last name"><br>
	<input type="email" id="email" name="email" placeholder="Email">
	<input type="tel" id="phone" name="phone" placeholder="Phone"><br>

	<textarea name="message" placeholder="Enter message here..."></textarea>

	<input type="submit" id="submit" value="Submit">
	<input type="reset" id="reset" value="Clear">
</form> -->

<section id="contact">
  <header id="date">
      <h3>Skontaktuj się ze mną</h3>
      <p>
          wiktoria.debowska2002@gmail.com
          <br><br> Konto na githubie:
          <a href="https://github.com/IdKheh?tab=repositories" style="color:white; margin:3%;">IdKheh</a>
      </p>
  </header>
</section>
<div id="topbar"><!--author of photography Jess Bailey, licence:
  Pixabay License
  Darmowy do użytku komercyjnego
  Nie wymaga przypisania--></div>
<div style="clear:both;"></div>
