<form action="" method="post">
	<input type="text" id="fname" name="fname" placeholder="First name">
	<input type="text" id="lname" name="lname" placeholder="Last name"><br>
	<input type="email" id="email" name="email" placeholder="Email">
	<input type="tel" id="phone" name="phone" placeholder="Phone"><br>

	<textarea name="message" placeholder="Enter message here..."></textarea>

	<input type="submit" id="submit" value="Submit">
	<input type="reset" id="reset" value="Clear">
</form>
	<h3>Centrala firmy</h3>
	<p>Poznań, ul. Grudziącka 6c/131, 62-131 Poznań<br>tel. 123 456 789 </p>

	<h3>Sklep tysiąca i jednego liścia</h3>
	<p>Kalisz, ul. Możysławska 6c/131, 62-131 Kalisz<br>tel. 456 789 123</p>

	<h3>Wars i Sawa czyli Warszawa</h3>
	<p>Warszawa, ul. Wyzwolenia 6c/131, 21-659 Warszawa<br>tel. 456 123 789 </p>

  <h3>Gdynia to ...</h3>
	<p>Gdynia, ul. Świńska 6c/131, 21-659 Gdynia<br>tel. 456 123 789 </p>


  <!--<p>tutaj będzie trzeba było zrobić działający formularz i to bezpieczny!!! uczymy się front i backendu.</p> -->

<div style="clear: both;"></div>
