#nameOfShop{
  width: 100%;
  padding: 5vh 0;
  font-size: max(25px, 5vh);
  background-color: green;
  text-align: center;
}
nav{
  width: 100%;
  height: 10vh;
  background-color: white;
  flex-direction: row;
  display: flex;

}
nav a{
  font-size: max(13px, 3vh);
  width: clamp(100px,8%,10%);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  color: #333;

}
nav a:nth-child(1){margin-left: max(35%, 2px);}
nav a:hover{
  cursor: pointer;
  color: green;
}
footer{
  width: 100%;
  font-size: max(11px, 2.5vh);
  background-color: green;
  padding: 5vh 0;
  text-align: center;
}
