<p>home works!</p>
<p>z racji, że to ma być "witryna sklepu", to ma to być strona powitalna, weź ściągni to z jakiegoś faktycznego sklepu
    <br><br>to teraz tak...<br>
    tutaj będą klocki z ofertami na promocji w postaci ala slajdera, ale to musiałoby być połączone z bazą danych i wysyłany
    musiałby być request o zapytanie na promocji, w dodatku można poprowadzić do jakiś tam kategorii typu pościel czy inne dekoracje ogrodowe
</p>
<h1>Witaj poszukiwaczu przygód!</h1>
<h2>Czas ruszyć na przygodę poszukiwania rzeczy w naszym sklepie!</h2>

